
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  flex-direction: column;
  &-drop-box {
    position: relative;
    height: 250px;
    width: 70%;
    border: 1px solid black;
    margin: 0 auto;
  }
  .overlay {
    border: dashed grey 4px;
    background-color: rgba(255, 255, 255, .8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    &-content {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      text-align: center;
      color: grey;
      font-size: 2em;
    }
  }
  .label {
    text-align: center;
  }
  .file-input {
    display: none;
  }
}

progress {
  background-color: #f3f3f3;
  border: 0;
  height: 18px;
  border-radius: 9px;
}