.error {
  color: darkred;
  font-size: x-small;
}

.success {
  color: green;
}

.container {
  width: 100%;
}

.form {
  width: 70%;
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  margin: 2em auto;
  padding: 1em;
  &-wrapper {
    width: 100%;
    padding: 0.5em;
    //background-color: cornflowerblue;

  }
  myButton{
    width: 15em;
    display: block;
    color: white;
    margin: 1em auto;
    padding: 1em;
    background-color: blueviolet;
    border: 0 solid transparent;
    border-radius: 0.4em;
    cursor: pointer;
  }
  .submit-button {
    @extend myButton;
    &-disabled{
      @extend myButton;
      background-color: darkred;
    }
  }
}

label {
  display: block;
  font-size: small;
}

@mixin elementStyle {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em;
  border-radius: 0.4em;
  margin: 0.5em auto;
  border: 1px solid rgba(0, 0, 0, 0.3);
  &:focus {
    border-radius: 0.4em;
  }
}

input{
  @include elementStyle;
  &[type="checkbox"]{
  width:2em;
}
}
select {
  @include elementStyle
}